bin/
obj/


*.user
*.suo


.vs/


*.cache
*.pdb
*.log
*.resources
*.csproj.FileListAbsolute.txt
*.csproj.GenerateResource.cache
*.csproj.CoreCompileInputs.cache

*.tmp

POS_System/Classes/ConnectionString.cs